
/solana-voting-programs/.anchor
/solana-voting-programs/.DS_Store
/solana-voting-programs/target
/solana-voting-programs/target_1
/solana-voting-programs/**/*.rs.bk
/solana-voting-programs/node_modules
/notes.md

/test-ledger

/sol-stream-voting/target

/sol-stream-voting_modified/target

/solana-twitter-app

/app

/VueFrontend

/frontend/node_modules
/frontend/.vscode

install_script.sh

target
/solana-voting-programs-old